.root
{
  background-color: transparent;
  box-shadow: none;
}

.rootClickable
{
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
}

.rootCompact
{
}

.icon
{
  background-color: transparent;
  width: auto;
  height: auto;
}

.iconCompact
{
  background-color: transparent;
}

.subtitle, .body
{
  word-break: break-word;
}
