.fullScreenContent {
  display: flex ;
  flex-direction: column;
}
.fullScreenBody {
  flex :1
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-right: 10px;
  width : 32px;
  height : 32px;
}

