.bottomBar {
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--override-divider-color);
  background-color: var(--mantine-color-body);
  width: 100%;
}
.eventInformation {
  padding: 10px 30px;
}
