
.imageWrapper {
  position: relative;
  .captionContainer {
    position: absolute;
    bottom : 0;
    width: 100%;
    z-index: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0,0.2);
    border-radius: $image-item-radius ;
    opacity: 0;
    transition: opacity 200ms;
  }
  &:hover,
  &.hover{
    .overlay {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: $image-item-radius ;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out,transform 0.3s, box-shadow 0.3s;

  &:hover {

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}

.image.loaded {
  opacity: 1;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  border-radius: $image-item-radius ;
  background-color: #f0f0f0;
  background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

