.mainContainer {
  position: relative;
  height: 100%;
}
.contentWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $left-sidebar-width;
  right: $right-sidebar-width;

  background: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  .mainContent {
    position: absolute;
    top: 0;
    bottom: $bottom-bar-width;
    left: 0;
    right: 0;
  }
}

.rightSidebar {
  position: fixed;
  z-index: 1;
  padding : 10px 0;
  width: $right-sidebar-width;
  height: 100%;
  border-left: solid 1px var(--override-divider-color);
  background: var(--mantine-color-body);
  display: flex;
  justify-content: center;
  right : 0;
  top : 0;
}
