.content {
  width: 100%;
  padding: $content-padding;
  border-bottom: 1px solid var(--override-divider-color);
  background-color: var(--mantine-color-body);
}

.notSticky {
}

.sticky {
  position: sticky;
  top: 0;
}
