.sourceNameContainer {
  max-width: 400px;
}
.sourceName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contentContainer {
  margin-top: 30px;
}
.sourceImage {
  cursor: pointer;
}
