
.container {
  height: 100%;
  padding-top: $content-padding-vertical;
  padding-left: $content-padding-horizontal;
  padding-right: $content-padding-horizontal;
  padding-bottom:$bottombar-width + 10px;
}
