@keyframes fadeBackground {
  0% {
    background-color: #ababab;
  }
  50% {
    background-color: #e1e1e1;
  }
  100% {
    background-color: #ababab;
  }
}

.container {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  background-color: #e4e4e4;
  animation: fadeBackground 1s linear infinite;
}
