openapi: 3.0.0
info:
  description: "The Freepik API is your gateway to a vast collection of high-quality\
    \ digital resources for your applications and projects. As a leading platform,\
    \ it offers a wide range of graphics, including vectors, photos, illustrations,\
    \ icons, PSD templates, and more, all curated by talented designers from around\
    \ the world."
  title: Freepik API
  version: 1.0.0
servers:
- description: B2B API Production V1
  url: https://api.freepik.com
security:
- apiKey: []
paths:
  /v1/ai/image-style-transfer:
    get:
      description: Get the status of all Style Transfer tasks
      operationId: get_all_style_transfer_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Style Transfer tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all Style Transfer tasks
      tags:
      - image-style-transfer
    post:
      operationId: apply_style_transfer_to_image
      requestBody:
        content:
          application/json:
            examples:
              required-params:
                $ref: "#/components/examples/request-style-transfer-required-params"
              all-params:
                $ref: "#/components/examples/request-style-transfer-all-params"
            schema:
              $ref: "#/components/schemas/style-transfer-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/apply_style_transfer_to_image_200_response"
          description: OK - The request has succeeded and the Style Transfer process
            has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Style transfer an image using AI
      tags:
      - image-style-transfer
  /v1/ai/image-style-transfer/{task-id}:
    get:
      description: Get the status of the Style Transfer task
      operationId: get_style_transfer_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the Style Transfer task
      tags:
      - image-style-transfer
  /v1/ai/text-to-image:
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_classic
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: "#/components/examples/request-tti-all-params"
              required-params:
                $ref: "#/components/examples/request-tti-required-params"
              portrait-image-size:
                $ref: "#/components/examples/request-tti-portrait-image-size"
              styling-params:
                $ref: "#/components/examples/request-tti-styling-params"
            schema:
              $ref: "#/components/schemas/request-content"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_classic_200_response"
          description: "OK - The request has succeeded, and the images generated from\
            \ the text are returned."
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Classic fast
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-dev:
    get:
      description: Get the status of the flux-dev task
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all flux-dev tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the flux-dev task
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_flux
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttifd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the flux-dev task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Flux dev
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-pro-v1-1:
    get:
      description: Get the status of the flux-pro 1.1 task
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all flux-pro 1.1 tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the flux-pro 1.1 task
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_flux_pro_v1_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttifpv11-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the flux-pro 1.1 task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Flux pro 1.1
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-dev/{task-id}:
    get:
      description: Get the status of the flux-dev task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-flux-dev-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the flux-dev task
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-pro-v1-1/{task-id}:
    get:
      description: Get the status of the flux-pro 1.1 task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the flux-pro 1.1 task
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream:
    get:
      description: Get the status of all Seedream tasks
      operationId: get_all_seedream_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Seedream tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all Seedream tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_seedream
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttisd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Seedream process has
            started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Seedream
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream/{task-id}:
    get:
      description: Get the status of the Seedream task
      operationId: get_seedream_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the Seedream task
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4:
    get:
      description: Get the status of all Seedream v4 tasks
      operationId: get_all_seedream_v4_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Seedream v4 tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all Seedream v4 tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_seedream_v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttisd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Seedream v4 process
            has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Seedream v4
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4/{task-id}:
    get:
      description: Get the status of the Seedream v4 task
      operationId: get_seedream_v4_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the Seedream v4 task
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4-edit:
    get:
      description: Get the status of all Seedream v4 edit tasks
      operationId: get_all_seedream_v4_edit_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Seedream v4 edit tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all Seedream v4 edit tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_seedream_v4_edit
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttisd-edit-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Seedream v4 edit process
            has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Edit image from text - Seedream v4
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4-edit/{task-id}:
    get:
      description: Get the status of the Seedream v4 edit task
      operationId: get_seedream_v4_edit_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of the Seedream v4 edit task
      tags:
      - text-to-image
  /v1/ai/text-to-image/hyperflux:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Returns a list of tasks for the current type of Task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all image hyperflux tasks
      tags:
      - text-to-image
    post:
      description: |
        This endpoint allows you to generate an image using the HyperFlux model, the fastest Flux model available
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request-content_1"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - created task:
                  $ref: "#/components/examples/200-task-created"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - failed task:
                  $ref: "#/components/examples/200-task-failed"
              schema:
                $ref: "#/components/schemas/_v1_ai_text_to_image_hyperflux_post_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Image generation using HyperFlux
      tags:
      - text-to-image
  /v1/ai/text-to-image/hyperflux/{task-id}:
    get:
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - created task:
                  $ref: "#/components/examples/200-task-created"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - failed task:
                  $ref: "#/components/examples/200-task-failed"
              schema:
                $ref: "#/components/schemas/_v1_ai_text_to_image_hyperflux_post_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of one image hyperflux task
      tags:
      - text-to-image
  /v1/ai/text-to-image/imagen3:
    get:
      description: Get the status of all Imagen3 tasks
      operationId: get_all_imagen3_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Imagen3 tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the status of all Imagen3 tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_imagen3
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: "#/components/examples/request-tti-imagen3-all-params"
              required-params:
                $ref: "#/components/examples/request-tti-imagen3-required-params"
            schema:
              $ref: "#/components/schemas/ttii3-request-content"
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Imagen3 process has
            started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Imagen3
      tags:
      - text-to-image
  /v1/ai/image-to-video/kling-std:
    get:
      description: Get the list of the kling-pro tasks
      operationId: get_all_kling_pro_tasks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - The list of the kling-pro tasks is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the list of the kling-pro tasks
      tags:
      - image-to-video
    post:
      description: Generate a video from an image using the Kling 1.6 Std model.
      operationId: create_video_kling_1_6_std
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/itvkp-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the kling-std task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create a video from an image - Kling 1.6 standard model
      tags:
      - image-to-video
  /v1/ai/image-to-video/kling-pro:
    get:
      description: Get the list of the kling-pro tasks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - The list of the kling-pro tasks is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Get the list of the kling-pro tasks
      tags:
      - image-to-video
    post:
      description: Generate a video from an image using the Kling 1.6 Pro model.
      operationId: create_video_kling_1_6_pro
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/itvkp-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the kling-pro task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create a video from an image - Kling 1.6 pro model
      tags:
      - image-to-video
  /v1/ai/image-to-video/kling/{task-id}:
    get:
      description: Get the status of the kling task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
[...]
