.root {
  bottom: $bottom-bar-width + 10;
  right: $right-sidebar-width + 10;
}

.container {
  z-index: 1;
}

.affixThumbnailGrid {
  width : 370px;
  max-height: 350px;
  overflow-y: scroll;
  @extend .scrollbar-custom;
}
