.overlay {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.container,
.imageContainer,
.informationContainer {
  height: 100%;
}
.container {

  height : 100%;
  display : flex;
  .imageContainer {
    flex : 1;
    display : flex;
    align-items: center;
    justify-content: space-between;
  }
  .informationContainer {
    overflow-y: scroll;
    @extend .scrollbar-custom;
    background: var(--mantine-color-body);
    .header {
      position: sticky;
      top : 0;
      z-index: 1;
      background: var(--mantine-color-body);
    }
    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap : 10px;
      padding: 20px;

      .titleBox {
        width: 85%;
      }

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
.paneSeparator {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor : ew-resize;
  }
  .paneSeparatorHandle {
    width: 5px;
    border-radius: 8px;
    height: 80px;
    background: grey;
  }
}
