.modalFullScreenContent {
  display: flex ;
  flex-direction: column;
}

.modalFullScreenBody {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contentFullScreen {
  height: 100%;
}

.content {
}
