.modalFullScreenContent {
  display: flex ;
  flex-direction: column;
}

.modalFullScreenBody {
  flex: 1;
}

.contentFullScreen {
  height: 100%;
}

.header {
  align-items: flex-start;
}

.content {
}
