.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background : light-dark(rgba(255,255,255,0.9), rgba(0,0,0,0.8));
    padding : var(--mantine-spacing-sm);
    border-bottom-left-radius: $image-item-radius ;
    border-bottom-right-radius: $image-item-radius ;
}
