.container {
  border-right: 1px solid var(--override-divider-color);
  width: $left-sidebar-width;
  padding: 20px;
  height : 100%;
  position: fixed;
}

.wrapper {
  height: 100%;
}

.additional {
  overflow-y: auto;
  width: $left-sidebar-width - 30px;
}
