.topBar {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: $content-padding;
  border-bottom: 1px solid var(--override-divider-color);
  background-color: var(--mantine-color-body);
  width: 100%;
}
