$sidebar-width: 75px;
$rightSidebar-width: 50px;
$bottombar-width: 40px;
$content-padding-horizontal : 30px ;
$content-padding-vertical : 20px ;
$content-padding : $content-padding-vertical $content-padding-horizontal;

$image-item-radius : 8px;

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  &::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #919191;
  }
}
