name: Electron CI
run-name: Manages the Electron application

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against?'
        type: choice
        required: true
        options:
          - '["windows-latest"]'
          - '["windows-11-arm"]'
          - '["macos-latest"]'
          - '["macos-15-intel"]'
          - '["ubuntu-latest"]'
          - '["windows-latest", "macos-latest"]'
        default: '["windows-latest", "macos-latest"]'
      deploy:
        description: 'Deploy?'
        type: boolean
        required: true
        default: false

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
    runs-on: ${{ matrix.os }}
    env:
      MACOS_NOTARIZE_APPLICATION_PASSWORD: ${{ secrets.MACOS_NOTARIZE_APPLICATION_PASSWORD }}
      # Taken from https://docs.github.com/en/actions/use-cases-and-examples/deploying/installing-an-apple-certificate-on-macos-runners-for-xcode-development
      MACOS_APPLICATION_CERTIFICATE_BASE64_CONTENT: ${{ secrets.MACOS_APPLICATION_CERTIFICATE_BASE64_CONTENT }}
      MACOS_APPLICATION_CERTIFICATE_PASSWORD: ${{ secrets.MACOS_APPLICATION_CERTIFICATE_PASSWORD }}
    steps:
      - id: checkout
        uses: actions/checkout@v4
      - id: node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - id: python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - id: java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - id: setup
        name: Sets up on "${{ matrix.os }}" OS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - id: install
        name: Installs the root dependencies
        run: npm install
      - id: prerequisites
        name: Installs the prerequisites
        run: npm run prerequisites
      - id: build
        name: Builds the components
        run: npm run build
      - id: distribute
        name: Packages and signs the Electron application
        run: npm run distribute
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_GCS_SERVICE_ACCOUNT_CREDENTIALS }}'
      - id: gcloud
        name: Sets up the Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: '>= 363.0.0'
      - id: deploy
        name: Deploys the Electron application
        run: npm run deploy
