name: Server CI
run-name: Manages the server dependencies installation, compilation and tests

on:
  push:
    branches: [ 'master' ]
    paths-ignore:
      - '.github/workflows/**'
  pull_request:
    branches: [ 'master' ]
  workflow_dispatch:
    inputs:
      os:
        description: 'OS to run against?'
        type: choice
        required: true
        options:
          - '["windows-latest"]'
          - '["windows-11-arm"]'
          - '["macos-latest"]'
          - '["macos-15-intel"]'
          - '["ubuntu-latest"]'
        default: '["macos-latest"]'

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: ${{ (github.event_name == 'push' && fromJson('["macos-latest"]')) || fromJson(inputs.os) }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - id: java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Check-out on "${{ matrix.os }}" OS and Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - id: install
        if: ${{ env.skip != 'true' }}
        name: Installs the prerequisites and server dependencies
        run: npm install && npm run this:prerequisites && npm run shared-back-end:prerequisites && npm run server:prerequisites && npm run extensions:prerequisites && npm run extensions:sdk:build
      - id: compile
        name: Generates some code and compiles
        run: npm --prefix server run prisma:generate && npm --prefix server run compile
      - id: tests
        name: Runs the tests
        run: npm --prefix server run ci:test
